/***DASHBOARD***/

.c-content {
    flex-grow: 5;
    overflow: auto;
    padding: 25px;
    max-width: 1400px;
    margin: 0 auto;

    .heading--sub {
        display: flex;
        align-items: center;
    }

    .heading__icon {
        color: #999999;
        font-size: 16px;
        cursor: pointer;
        margin-left: 20px;
    }

    &__achievements-container{
        width: 84%;
        height: 90%;
        display: flex;
        position: absolute;
        z-index: 10000;
        backdrop-filter: blur(4px);
        margin-left: -25px;

        &__icons{
            font-size: 20px;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            color: #0998E6;
            align-items: center;
            justify-content: space-between;
            margin-top: 25px;


            &--icon{
                float: left;
                display: block;
                margin-top: 10px;
                margin-right: 50px;
            }

            &--text{
                color: #707070;
                font-size: 18px;
                float: right;
                padding: 10px 20px 0 20px;
                margin-left: 50px;
                margin-right: 50px;        
            }
        }

        &__places{
            display: flex;
            align-items: center;
            width: 600px;
            margin-left: 10px;
            padding: 20px;
            background-color: white;
            border-radius: 20px;
            position: absolute;
            top: 20%;
            right: 22%;
            z-index: 10000;
            
            .c-content__achievements-container__info{
                margin-left: 20px;

                &--upper {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .close {
                        float: right;
                        margin-right: 20px;
                        font-size: 20px;
                        cursor: pointer;
                    }
                }

                &--icon{
                    font-size: 20px;
                    float: right;
                }

                .c-content__achievements-container__place{
                    font-size: 20px;
                }

                .c-content__achievements-container__date{
                    font-size: 17px;
                }
            }
        }
    }



    &__item{
        display: flex;
        
        //MAP
        .c-content__map{
            width: 65%;
            height: 300px;
            background-color: #4e4e4e;
            border-radius: 20px;
        }

        //UPCOMING TRIPS
        .c-content__upcoming-trips{
            width: 35%;
            margin-left: 10px;
            padding: 20px;
            background-color: #EEEEEE;
            border-radius: 20px;

            .c-content__upcoming-trips__heading{
                margin-left: 20px;
                font-size: 20px;
                font-weight: 700;
            }

            .c-content__upcoming-trips__link {
                width: 100%;
                text-decoration: none;
                color: black;
            }

            .c-content__upcoming-trips__link:hover {
                color: #0998E6;

                h5{
                    text-decoration: underline;
                }
            }

            &__places{
                display: flex;
                align-items: center;
                margin: 10px 15px;

                .c-content__upcoming-trips__img{
                    width: 65px;
                    height: auto;
                } 
                
                .c-content__upcoming-trips__info{
                    margin-left: 20px;

                    .c-content__upcoming-trips__place{
                        font-size: 20px;
                    }
    
                    .c-content__upcoming-trips__date{
                        font-size: 17px;
                    }
                }
            }
        }

        //TOP DESTINATIONS
        .c-content__destination{
            display: flex;
            align-items: center;
            flex-grow: 1;
            margin-right: 30px;

            &__link {
                text-decoration: none;
                color: black;
            }

            &__link:hover {
                color: #0998E6;

                h4{
                    text-decoration: underline;
                }
            }
            .c-content__img{
                display: block;
                width: 80px;
                height: auto;
                float: left;
            }

           

            &__info{
                margin-left: 10px;

                .c-content__destination-country{
                    font-size: 15px;
                }

                .c-content__destination-city{
                    font-size: 18px;
                }
            }
        }

        .c-content__days-left{
            display: flex;
            align-items: center;
            flex-grow: 1;
            position: relative;

            //Before and After create two, horizontal lines in "days left" section
            &:before{
                content: '';
                width: 5px;
                height: 18px;
                background-color: #333;
                position: absolute;
                top: -5px;
                left: 20px;
                border-radius: 10px;
            }

            &:after{
                content: '';
                width: 5px;
                height: 18px;
                background-color: #333;
                position: absolute;
                top: -5px;
                left: 50px;
                border-radius: 10px;
            }

            .c-content__days-left__num{
                font-size: 32px;
                font-weight: 800;
                padding: 10px 22px;
                border: 5px solid #333;
                border-radius: 10px;
            }

            .c-content__days-left__info{
                font-size: 18px;
                text-transform: uppercase;
                margin-left: 10px;
            }
        }
    }

    &__item--vertical{
        flex-direction: column;
        
        .c-content__score{
            font-size: 16px;
            margin: 10px 0 0 0;
            color: #A8A8A8;
        }

        .c-content__bar{
            width: 100%;
            height: 10px; 
            background-color: #EEEEEE;
            border-radius: 20px;
            overflow: hidden;
            clear: both;

            .c-content__progress{
                width: 0%;
                height: 10px;
                border-radius: 20px;
                float: left;
                background-color: #0998E6;
                animation: progress 2s;
                animation-fill-mode: forwards;
            }

            @keyframes progress{
                from{
                    width: 0%;
                }

                to{
                    width: 50%;
                }
            }
        }
    }

    

    .c-content__button-nav{
        i{
            color: #fff;
        }
    }


.heading{
    font-family: 'Roboto';
    font-weight: 600;
    text-transform: uppercase;
    padding: 10px 0;
    color: #333;

    &--main{
        
        .heading__text{
            font-size: 35px;
        }
    }

    &--sub{

        .heading__text{
            font-size: 20px;
            display: flex;
            align-items: center;
        }
        

        .fa-info-circle{
            margin-left: 10px;
            color: gray;
        }
    }
}
}