/***FEED***/
.f-content {
    flex-grow: 5;
    overflow: auto;
    padding: 25px;
    max-width: 1400px;
    margin: 0 auto;

    .heading__text {
        font-family: 'Roboto';
        font-weight: 600;
        text-transform: uppercase;
        padding: 10px 0;
        color: #333;
        font-size: 35px;
    }

    .heading_feed {
        display: flex;
        align-items: center;

        &__paragraph{
            font-size: 14px;
            text-transform: initial;
            color: #cccccc;
            margin-left: 25px;
        }
    }

    .heading--main {
        align-items: center;
        display: flex;

        .heading__icon {
            font-size: 20px;
            margin-left: 20px;
            color: #999999;
            cursor: pointer;
        }
    }


    &__item{
        display: flex;
        flex-wrap: wrap;
        margin-top: 40px;

        //POSTS
        .f-content__posts {
            width: 80%;

            .f-content__post{
                width: 100%;
                background-color: #F7F7F7;
                border-radius: 20px;
                margin-bottom: 20px;
                display: flex;
                align-items: center;

                &__img {
                    width: 80px;
                    height: 80px;
                    padding: 20px;
                }

                &__journal {
                    width: 100px;
                    margin-left: auto;
                    padding: 20px;
                }

                &__user {
                    font-size: 15px;
                    color: #707070;
                    padding-bottom: 5px;
                }

                &__title {
                    font-size: 15px;
                }

                &__link {
                    font-size: 10px;
                }
            }
            
        }

        //ACCOUNTS YOU MAY LIKE
        .f-content__also-like{
            width: 12%;
            padding: 0 15px;
            border-radius: 20px;
            text-align: center;
            
            .f-content__also-like__heading{
                font-size: 15px;
                font-weight: 700;
            }

            &__users{
                display: flex;
                align-items: center;
                margin: 20px 15px;
                flex-direction: column;
                text-align: center;

                .f-content__also-like__img{
                    width: 40px;
                    height: auto;
                } 
                
                .f-content__also-like__info{

                    .f-content__also-like__name{
                        font-size: 13px
                    }
    
                    .f-content__also-like__follow{
                        font-size: 10px;
                        background-color: #0998E6;
                        color: white;
                        cursor: pointer;
                        padding: 3px;
                        margin-top: 5px;
                        width: 60px;
                        margin: 5px auto;
                    }
                }
            }
        }
    }
}