/***NAVIGATION***/

.nav{
    max-width: 230px;
    padding: 25px 0;
    height: 100vh;
    background: rgb(3,169,244);
    background: linear-gradient(0deg, rgba(3,169,244,1) 0%, rgba(3,155,229,1) 100%);
    flex-grow: 1;
    
    &__list {
        list-style-type: none;

        &--bottom {
            margin-top: 20px;

            .nav__item:last-child{
                margin-top: 30px;
                color: #fff;

                &:hover{
                    background: none;
                    color: #fff;
                }
            }

            .nav__item:hover{
                background-color: rgb(255, 255, 255);
    
                .nav__link{
                    color:rgb(3,169,244);
                }
            }
        }
       
        .nav__item {
            padding: 10px 25px;
            
            .nav__link {
                text-decoration: none;
                color: #fff;
                font-size: 13px;
                display: flex;
                align-items: center;

                .nav__img {
                    width: 80px;
                    margin: 0 auto;
                    display: block;
                }

                .nav__logo {
                    width: 40px;
                    margin-right: 7px;
                }

                .nav__icon {
                    font-size: 20px;
                    margin-right: 10px;
                }
            }
        }

        .nav__item--active {
            background-color: #fff;

            .nav__link {
                text-decoration: none;
                color: rgb(3,169,244);
            }
        }
    }

    .nav__rights {
        font-size: 10px;
        color: #fff;
        font-family: "Roboto";
        text-align: center;
    }
    &__img--active{
        border: white 2px solid;
        border-radius: 100%;
    }
}