html{
    scroll-behavior: smooth;;
}

@import 'sass/nav';
@import 'sass/dashboard';
@import 'sass/booking';
@import 'sass/feed';
@import 'sass/journal';
@import 'sass/contact';
@import 'sass/settings';
@import 'sass/userprofile';
@import 'sass/login';
@import 'sass/details';
@import 'sass/myjournal_article';

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #fff;
    font-family: 'Open sans';
    font-size: 15px;
}


.l-grid{
    display: flex;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.c-content__button-nav {
    display: none;
}

@media screen and (max-width: 900px){
    
    .c-content__button-nav {
        display: none;
    }

    .c-content{
        max-width: 850px;
        margin: 0 auto;
        justify-content: center;

        &__item{
            flex-direction: column;

            .c-content__map{
                width: 100%;
                height: 200px;
            }

            .c-content__upcoming-trips{
                width: 100%;
                margin: 30px 0 10px 0;
                box-sizing: border-box;
                padding: 10px;
            }

            .c-content__destination{
                margin: 15px 0;
            }

            .c-content__days-left{
                margin: 15px 0;

                &:before{
                    content: '';
                    left: 20px;
                }
                
                &:after{
                    content: '';
                    left: 45px;
                }

                .c-content__days-left__num{
                    padding: 10px 22px;
                    font-size: 32px;
                }
            }
        }
    }

    .l-grid--login{
        .log-in__container__btn-submit{
            width: 45%;
        }
    }

    //FEED
    .f-content{
        &__item{
            .f-content__posts {
                width: 100%;

                .f-content__post{
                    .f-content__post__info{
                        padding: 20px 0;
                    }
                }
            }

            .f-content__also-like{
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
                padding: 0;

                &__heading{
                    width: 100%;
                }

                &__user{
                    flex-grow: 1;
                }
            }
        }
    }

    //Booking details
    .d-content{

        &__container {
            justify-content: center;
        }

        &__details{
            width: 45%;
            margin-top: 20px;
        }
    }

    //Booking
    .g-content {

        &__booking__popup__background{

            .g-content__booking__popup {
                width: 40%;
                height: 85%;
                padding: 15px 20px;

                &__element {
                    padding: 10px 0;
                }

                &__container {
                    input {
                        margin: 10px auto;
                        padding: 6px 15px;
                    }
                }
            }
        }
    }

    //My journal
    
    .z-content {

        &__item{

            .z-content__posts {

                .z-content__post{

                    &__info{
                        
                        &__button{
                            font-size: 15px;
                            right: 90px;
                            top: 120px;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 750px){

    .c-content__button-nav {
        display: block;
    }
    
    .nav{
        position: fixed;
        left: -1000px;
        z-index: 99;
        max-width: 100%;
        width: 100%;
        height: 100vh;
    }
    .c-content{
        max-width: 700px;
        
        .heading--sub{
            .heading__text{
                font-size: 24px;
            }
        }

        .heading__text{
            font-size: 34px;
        }

        &__button-nav{
            display: block;
            height: 60px;
            width: 100%;
            position: fixed;
            bottom: 0;
            left: 0;
            z-index: 100;
            background: rgb(3,169,244);
            background: linear-gradient(0deg, rgba(3,169,244,1) 0%, rgba(3,155,229,1) 100%);

            i{
                color: #fff;
                font-size: 30px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
            }
        }

        &__item--vertical{
            margin-bottom: 100px;
        }

    }

    .l-grid--login{
        .log-in__logo{
            width: auto;
            height: 70px;
            position: absolute;
            top: 5%;
            left: 50%;
            transform: translate(-50%, -5%);
            order: 0;
            align-self: center;
        }
    
        .log-in{
            width: 100%;

            .log-in__container__btn-submit{
                width: 35%;
                padding: 15px 20px;
            }
        }
    }

    //FEED
    .f-content{
        &__item{
            .f-content__posts {
                width: 100%;

                .f-content__post{
                    flex-direction: column;

                    .f-content__post__info{
                        padding: 20px 0;
                        text-align: center;
                    }

                    &__img {
                        width: 80px;
                        height: 80px;
                        padding: 20px;
                    }
    
                    &__journal {
                        width: 100px;
                        margin-left: 0;
                        padding: 20px;
                    }
                }
            }

            .f-content__also-like{
                margin-bottom: 35px;
            }
        }
    }

    //CONTACT&SUPPORT
    .s-content{
        &__container{
            flex-direction: column;
            justify-content: center;
            max-width: 100%;

            &__section{
                width: 100%;
            }

            &__item{
                width: 100%;
            }
        }

        .contact{
            margin-bottom: 35px;
            width: 100%;

            .s-contact__e-mail{
                &__icon{
                    list-style-type: none;
                }
            }

            .s-contact__social-media{
               &__icon{
                    margin-left: 0px;
                }
            }

            i{
                font-size: 25px;
            }   
        }
    }

    //Booking details
    .d-content{

        &__container {
            justify-content: center;
        }

        &__details{
            width: 70%;
        
            &__airoport {
                font-size: 10vw;
            }
        }
    }

    //Booking
    .g-content {

        &__booking__popup__background{
            width:100%;

            .g-content__booking__popup {
                width: 80%;
                height: 75%;
                padding: 15px 20px;

                &__element {
                    padding: 10px 0;
                }

                &__container {
                    input {
                        margin: 10px auto;
                        padding: 6px 15px;
                    }
                }
            }
        }

        .heading_booking {
            flex-wrap: wrap;
        }
    
        .g-content__tickets {
           
            margin: 10% auto 15% auto;
        }
       
        &__ticket {
            flex-wrap: wrap;
        }

        &__statistics {
            width: 80%;
        }

        &__post {

            &__tickets {
                &__button {
                    margin: -30px auto;
                }
            }

        }

        &__item { 
            .g-content__tickets {

                &--lower {
                    margin-bottom: 60%;
                }

                .g-content__ticket{
                    justify-content: space-around;
                    height: 50%;

                    &:before{
                        display: none;
                    }

                    &__icon {
                        margin-left: 0;
                        padding: 20px;

                        &--grey {
                            margin-left: 0;
                            padding: 20px;
                        }
                    }

                    &__data {
                        margin: 30px 0;
                    }

                    &__info {
                        margin: 30px 0 30px 0;
                    }

                    &__location {
                        font-size: 20px;
                        color: grey;
                        padding: 10px;;
                    }

                    &__location--grey {
                        font-size: 20px;
                        color: grey;
                        padding: 10px;
                    }

                    &__pen {
                        color: grey;
                        margin: 30px 0 30px 0;
                        font-size: 20px;
                        padding: 0;
                    }

                    &__places {
                        width: 100%;
                    }
                }

            }
        }
    }

    //Dashboard popup
    .c-content {
        margin-bottom: 80px;

        &__achievements-container{
            margin: -25px 0 0 -25px;
            width: 100%;
            height: 100%;
            font-size: 13px;
            justify-content: center;

            &__info {
                &--upper {
                    padding-bottom: 20px;
                }
            }

            .c-content__achievements-container__date{
                font-size: 13px;
            }

           &__icons {
            font-size: 15px;

            &__container {
                padding: 5px;
            }

            &--text{
                font-size: 13px;
                padding: 5px 15px 0 0;
                margin-left: 0px;
                margin-right: 0px;        
            }
           } 

            &__places{
                width: 70%;
                height: 80%;
                margin-left: 0;
                top: 5%;
                right: unset;
            }
        }

        &__item--vertical{
            margin-bottom: 0;
        }
    }

    //My journal
    .z-content {
        margin-bottom: 50px;

        // My journal popup
        &__journal__popup__background {
            width: 100%;

            .z-content__journal__popup {
                width: 60%;
                padding: 15px 30px;

                &__container {

                    #submit {
                        width: 50%;
                        
                    }
                }
            }
        }


        .heading_journal {
            flex-direction: column;
            align-items: unset;

            &__paragraph{
                margin: 0 0 10px 0;
                width: 80%;
            }
        }

        .heading__icon {
            margin-bottom: 10px;
            margin-left: 0;
        }

        &__item{

            .z-content__posts {

                .z-content__post{

                    &__info{

                        &__button{
                            margin: 0 22px 20px 0;
                        }
                    }
                }
            }
        }
    }

    //Article
    .j-content{
        margin-bottom: 80px;
       
        &__section{
            width: 100%;
    
            &__title{
                margin: 20px 0 20px 0;
            }

            &__gallery{
                width: 100%;
                height: 50%;
                
                &__image{
                    max-width: 100%;
                    height: 95px;
                }
            }
            
            &__story{
                width: 100%;
            }
        }
        &__flex{
            display: inline-flex;
        }

        &__practical{
            flex-direction: column;
            height: 90%;
            width: 30%;
            display: none;
        }

        &__sections{
    
            &__attractions{
                display: flex;
                flex-direction: column-reverse;
                flex-wrap: nowrap;
                width: 100%;
    
    
                &__image{
                    width: 100%;
                    height: 100%;
                    max-width: none;
                    margin: 20px 0;
                    
                }
            }
            &__accommodation{
                width: 100%;
    
                &__image{
                    max-width: 100%;
                    margin-top: 20px;
                    padding-bottom: 20px;
                }
    
                p {
                    padding: 5px;
                }
            }
            &__reviews{
                width: 100%;
                height: 35%;
    
                &__text{
                    margin-left: 5%;
                }

                &__stars{
                    width: 30%;
                    padding: 10px 0;
                    
                }
            }
        }
    }
    
    /***SETTINGS***/
.a-content {
    margin-bottom: 80px;

    &__item {
        flex-direction: column;

        .a-content__settings {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            font-size: 10px;
            justify-content: center;
            margin-bottom: 10px;

            .a-content__setting {
                height: 40px;
                width: 30%;
                margin: 2px 2px 10px 2px;
            }
        }
    }

    .a-content__settings-main {
        margin: auto;
        width: 80%;

        &__img{
            width: 50px;
            padding-bottom: 5px;
            
        }

        &__places{
            .a-content__settings-main__place{
                font-size: 10px;
            }

            #text {
                width: 100%;
                margin-right: 0;
                margin-top: 5px;
                box-sizing: border-box;
                padding: 5px;
            }
        }
    }

    
}
}